
.title {
    font-family: 'Creepster', cursive;
    font-size: 9em;   
}


.titlebar h1 {
    font-size: 16em;
    color:#6b0504;
    margin-top: .6em;
}

.introTitle {
    font-size: 2.9em;
    color:#b87c61;

}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2em;
    margin: 3em;
}

li a {
    display: flex;
    color:#a80808;
    font-size: 1.8em;
    text-align: left;
    padding: 40px;
    text-decoration: none;
}

li {
  float: center;
}


* {
    font-family: 'Creepster', cursive !important;    
}

.button-hover {
    font-family: 'Creepster';
    font-size: 100px;
    color:#a80808;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.button-hover:hover {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0.5;
}

a {
    margin: 0.7em;
    text-decoration: none !important;
    color: rgb(243, 205, 205);
}
a:visited {
    color: rgb(144, 18, 18);
}
a:hover, a:focus, a:active {
    text-decoration: none !important;
    color:#d80528 !important;
}