
.title {
    font-family: 'Creepster', cursive;
    font-size: 10em;   
}


.titlebar h1 {
    font-size: 16em;
    color:#6b0504;
    margin-top: .45em;
     text-shadow:rgb(19, 10, 10) 8px 8px;
}

.introTitle {
    font-size: 2.9em;
    color:#f30e0e;
    text-shadow:rgb(19, 10, 10) 7px 8px;

}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 3em;
    margin: 3em;
}

li a {
    display: flex;
    color:#a80808;
    font-size: 1.7em;
    text-align: left;
    padding: 40px;
    text-decoration: none;
     text-shadow:rgb(19, 10, 10) 8px 8px;
}

li {
  float: center;
}


* {
    font-family: 'Creepster', cursive !important;    
}

.button-hover {
    font-family: 'Creepster';
    font-size: 100px;
    color:#a80808;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.button-hover:hover {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0.5;
}

a {
    margin: 1.8em;
    text-decoration: none !important;
    color: rgb(218, 44, 44);
    
}
a:visited {
    color: rgb(144, 18, 18);
}
a:hover, a:focus, a:active {
    text-decoration: none !important;
    color:#d80528 !important;
     text-shadow:rgb(39, 34, 34) 6px 8px;
}