.homeMonsterDiv{

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://all4desktop.com/data_images/original/4242869-blood.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}