.monsterFightDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 7em;

}

.fightButton {
    margin-left: 20px;
    color: white;
    
}

.card-and-button {
    display:flex;
    justify-content: center;
}

h1 {
    align-self: center;
}