
.title {
    font-family: 'Creepster', cursive;
    font-size: 7em;   
}

.titlebar {
    background-image: url("https://images.fineartamerica.com/images-medium-large-5/cropped-hand-of-woman-covered-with-blood-against-black-background-kiattisak-lamchan--eyeem.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

    
}
.titlebar h1 {
    font-size: 14em;
    color:#6b0504;
}

.introTitle {
font-size: 2.6em;
color:#870016;

}

ul {
list-style-type: none;
margin: 0;
padding: 0;

}



li a {
  display: block;
  color:#a80808;
  font-size: 1.8em;
  text-align: center;
  padding: 15px 40px;
   text-decoration: none;
}

li {
  float: center;
 
}


* {
    font-family: 'Creepster', cursive;    
}

.button-hover {
    font-family: 'Creepster';
    font-size: 100px;
    color:#a80808;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.button-hover:hover {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0.5;
}

a {
  text-decoration: none !important;
  color: #a00;
}
a:visited {
  color: #844;
}
a:hover, a:focus, a:active {
  text-decoration: none !important;
  color:#5b0d1a !important;
}