.header {
   position: fixed;
   width: 100%;
   padding-bottom: 3em;
   z-index: 2;
}
.header ul {
   background-color: white;
   border-bottom: 2px solid black;
   padding-top: 1em;
   color: black;
}

.header ul a {
   font-size: 3em;
}